IKEv2 downgrades

[From Chris P. in the list](https://mailarchive.ietf.org/arch/msg/ipsec/vSjVbzw0vAbHIxHvzNLvl3Z-NqU/) (which followed a long discussion in the WG list)

> More [in the list](https://mailarchive.ietf.org/arch/msg/ipsec/vSjVbzw0vAbHIxHvzNLvl3Z-NqU/) 
> 
> Digging into this a little deeper, I believe the downgrade attack described
> in Section 5.2.1 of [1] is relevant here.
> 
> Suppose I have broken ECDH and want to impersonate some responder R to some
> initiator I. I don't have access to I's MAC key SK_I, but I do have access
> to another initiator E's MAC key SK_E. (In fact, I might actually be E.)
> The attack starts like this (cf. Figure 7 of [1]):
> 
> (1) Intercept the IKE_SA_INIT from initiator I
> (2) Modify the intercepted IKE_SA_INIT by dropping support for ML-KEM
> (3) Forward the modified IKE_SA_INIT to responder R
> (4) Forward the IKE_SA_INIT from responder R to initiator I
> 
> At this point, responder R has chosen ECDH only, which means the initiator
> I has completed an ECDH key exchange and is ready to produce its AUTH
> message. (No intermediate ML-KEM exchange is done because R believes the
> initiator didn't offer it.) The attack proceeds as follows:
> 
> (5) Intercept the AUTH from I
> (6) Decrypt the payload (requires solving a discrete logarithm in the ECDH
> group)
> (7) Replace the MAC of the real IKE_SA_INIT message from step (1) under
> SK_I with the MAC of the modified IKE_SA_INIT from step (2) message under
> SK_E
> (8) Encrypt the modified payload
> (9) Forward the modified AUTH to responder R
> (10) Forward the AUTH from R to I
> 
> Step (9) succeeds because the responder believes it has been talking to
> initiator E rather than initiator I.At this point, initiator I and R have
> exchanged a session key that the attacker has access to.
> 
> This attack exploits the fact that each MAC only covers the messages sent,
> not the messages received. In particular, if R also MACed the initiator's
> IKE_SA_INIT message, then I would not accept its AUTH message. It may also
> have helped if the initiator's IKE_SA_INIT contained its identity; this way
> the responder would not have accepted an AUTH message from E.
> 
> Do folks believe this attack? Am I missing a detail of the protocol that
> mitigates it?
> 
> [1] https://eprint.iacr.org/2016/072

And further clarification 

> By "binding to the protocol context" I mean, at the point at which
> SKEYSEED(1) is derived, the initiator and responder only derive the same
> SKEYSEED(1) if they have a consistent view of what messages were exchanged
> so far. In IKEv2, they might compute the same SKEYSEED(1) even if they
> don't agree on the transcript.
> 
> Of course, as you pointed out, this doesn't seem to matter for
> authenticated key exchange as long as they eventually confirm they have a
> consistent view of the protocol transcript (e.g., by signing or MACing it).
> 
> To be clear, I'm not criticizing the design at all, I'm just curious about
> how the WG landed on this design. Perhaps it's historical?

Confirmation from Valery S.

> I assume that SK_I and SK_E are long-term shared secrets used for authentication? 
> Just to clarify, because in RFC 7296 those secrets are called PSKs, while SK_* are session keys.
> 
> The possible mitigation is to use less restrictive policy for either initiator or responder or both.
> Since the victim of this attack is initiator, it is reasonable for she/he to require use ML-KEM in this case.

And further response from Chris

>> Just to clarify, because in RFC 7296 those secrets are called PSKs, while SK_* are session keys.
> 
> Correct, I mean PSK.

> It seems to me that both of these prerequisites are realistic:
> 
> 1. When deploying a new protocol feature like this, in my experience there
> is usually a period of time where graceful fallback is an operational
> requirement. In particular, an ECDH+ML-KEM initiator may still need to talk
> to ECDH-only responders or vice versa.
> 
> 2. If a responder having multiple users is a realistic deployment scenario,
> then I think one user impersonating another to the responder would be a
> realistic threat?
> 
> I agree that mandatory-ML-KEM would probably work, but I'm worried it might
> not be realistic, given 1., until the ecosystem has transitioned to
> ECDH+ML-KEM. We have some time, since the attack is not actually
> exploitable until "Q-day" (i.e., if/when a large enough quantum computer is
> built that can break ECDH). But we can't wait forever. it would be useful
> if there were other levers we could pull. Any ideas?
> 
> Do you think the working group would be open to a breaking change for the
> draft that mitigates this attack? In any case, I think it ought to be
> spelled out in security considerations.

I consider this as a valid concern. I think this scenario fails in the downgrades described in [the paper you cited](https://eprint.iacr.org/2016/072) and is also discussed in sections 4.3.1 and 4.3.2 of https://ethz.ch/content/dam/ethz/special-interest/infk/inst-infsec/appliedcrypto/education/theses/semester-project_eduarda-assuncao.pdf . In a way, the IKE_INTERMEDIATE key exchange does not introduce a new issue here which was discussed in https://www.mnm-team.org/pub/Publikationen/gggh21b/PDF-Version/gggh21b.pdf as well. FWIW, such downgrades exist in TLS 1.2, but not 1.3 that includes data from both sides in the transcript. I remember that when the WG started the design discussions that brought RFC9370, it decided that IKEv2 needs to remain secure against passive attackers, but the goal did not include active scenarios. I consider this downgrade to fall in that category.

Regardless, it is a valid point. I think it is out of scope to address this in the draft as I consider it a general IKEv2 issue which the WG can tackle in separate work.

It is a great idea to add a discussion in the Sec Considerations section. I will do that. Please review the text when it is out.

On the specifics, I agree that saying that the responder can choose to go ML-KEM-as-mandatory won’t always be possible in the migration phase. RFC8784 addressed this downgrade scenario by introducing a “peer PPK_ID-based mandatory_or_not PQ PPK flag” configuration. That way, the initiator or responder know if it is mandatory to use the PPK with the PPK_ID for quantum resistance. draft-ietf-ipsecme-ikev2-mlkem does not negotiate a separate identifier which the peers can use to know if ML-KEM is mandatory. So, I think the most elegant approach is for those worried about such downgrades, to force a new Child SA creation or rekey or IKE SA rekey by using a IKE_FOLLOWUP_KE and make use of a mandatory-ML-KEM-peer configuration.  IKE_FOLLOWUP_KE has authenticated peers and thus the responder can enforce a “mandatory to use ML-KEM for that peer” configuration. Wildcard scenarios could be used for such identities to prevent large config.


From https://www.rfc-editor.org/rfc/rfc9370

> [2.2.5.1. ](https://www.rfc-editor.org/rfc/rfc9370#section-2.2.5.1)[Interaction with Childless IKE SA](https://www.rfc-editor.org/rfc/rfc9370#name-interaction-with-childless-)
> **It is possible to establish IKE SAs with post-quantum algorithms by only using IKE_FOLLOWUP_KE exchanges and without the use of IKE_INTERMEDIATE exchanges. In this case, the IKE SA that is created from the IKE_SA_INIT exchange, can be immediately rekeyed with CREATE_CHILD_SA with additional key exchanges, where IKE_FOLLOWUP_KE messages are used for these additional key exchanges. If the classical key exchange method is used in the IKE_SA_INIT message, the very first Child SA created in IKE_AUTH will offer no resistance against the quantum threats. Consequently, if the peers' local policy requires all Child SAs to be post-quantum secure, then the peers can avoid creating the very first Child SA by adopting [[RFC6023](https://www.rfc-editor.org/rfc/rfc9370#RFC6023)]**. In this case, the initiator sends two types of proposals in the IKE_SA_INIT request: one with and another one without ADDKE Transform Types. The responder chooses the latter proposal type and includes a CHILDLESS_IKEV2_SUPPORTED notification in the IKE_SA_INIT response. Assuming that the initiator supports childless IKE SA extension, both peers perform the modified IKE_AUTH exchange described in [[RFC6023](https://www.rfc-editor.org/rfc/rfc9370#RFC6023)], and no Child SA is created in this exchange. **The peers should then immediately rekey the IKE SA and subsequently create the Child SAs, all with additional key exchanges using a CREATE_CHILD_SA exchange**.
> 
> [...]
> 
> **The support for childless IKE SA is not negotiated, but it is the responder that indicates the support for this mode. As such, the responder cannot enforce that the initiator use this mode. Therefore, it is entirely possible that the initiator does not support this extension and sends IKE_AUTH request as per [[RFC7296](https://www.rfc-editor.org/rfc/rfc9370#RFC7296)] instead of [[RFC6023](https://www.rfc-editor.org/rfc/rfc9370#RFC6023)].** In this case, the responder may respond with an error that is not fatal, such as the NO_PROPOSAL_CHOSEN notify message type.
> 
> [...]

So to avoid downgrades there could be a ```PQ key Exchange Downgrade Protection``` global configuration which means no ```IKE_INTERMEDIATE``` support for PQ key exchanges. There needs to be one more config with { Peer Identity, MLKEM-mandatory-flag } that defines which peers we expect to support ML-KEM and it is mandatory. Identities could match on peer or a set of peers. The responder, when configured with ```PQ key Exchange Downgrade Protection```, "SHOULD" advertise Childless SA as described in [Section 2.2.5.1 of RFC9370](https://www.rfc-editor.org/rfc/rfc9370#section-2.2.5.1) and specified in [[RFC6023](https://www.rfc-editor.org/rfc/rfc9370#RFC6023)]. That is to make sure no data is encrypted with classical Child SAs. If the initiator does not support Childless SA proposed by the responder and a Child SA is created with keys derived from classical key exchanges the peers ought to not send any data if they have MLKEM-mandatory-flag for that peer. After ```IKE_AUTH``` the peers use ```CREATE_CHILD_SA``` followed by ```IKE_FOLLOWUP_KE``` to do a PQ ML-KEM exchange and rekey the IKE SA and the Child SA or create the first Child SA from the rekeyed IKE SA (if the initiator supported Childless SA proposed by the responder). The IKE or Child SA are rekeyed by stirring the new ML-KEM shared secret SK(1) in SKEYSEED and KEYMAT as specified in Section 2.2.4 of [[RFC9370](https://www.rfc-editor.org/rfc/rfc9370)]. 

Note in this scenario, the identities of the peers could be recovered by an adversary with a quantum computer that can recover the exchanged keys before IKE_AUTH. This is a concern for the privacy of the peer identity but not the protection of the data. To prevent such concerns, another ```PQ Key Exchanges Only``` configuration flag could be possible to ensure that no classical only key exchanges are used by the peers. This may not be possible for responders while not all initiators have been upgraded, but it could make sense for initiators that are certain that the limited set of responders they communicate with have been upgraded. 

For some background on such approaches that are not ideal for protecting the IKEv2 negotiation, [draft-ietf-ipsecme-ikev2-qr-alt-10](https://datatracker.ietf.org/doc/html/draft-ietf-ipsecme-ikev2-qr-alt-10)  has some background on this 

> [...] It was believed that information transferred over IKE SA (including peers' identities) is less important and extending the protection to also cover initial IKE SA would require serious modifications to core IKEv2 protocol. One of the goals was to minimize such changes. 
> 
> However, in some situations it is desirable to have this protection for the IKE SA from the very beginning, when an initial IKE SA is created. An example [...]

My understanding of rekeying in IKEv2 (please correct me if I've misunderstood, I'm still kind of new to the protocol) is that the key exchange is not re-authenticated. That is, there is know subsequent IKE_AUTH flow in which the peers sign/MAC their key exchange messages. Is my understanding correct?

If so, then I'm not sure if this patches the bug. In the attack scenario, the attacker can still impersonate the responder to the victim initiator; wouldn't it therefore be able to downgrade the initator's attempt to rekey?

Also, does this solve the graceful downgrade problem (i.e., when one of the peers doesn't yet support ML-KEM they securely fallback to ECDH)?

Yes ```IKE_AUTH``` is done only once in IKEv2. So in [the solution described above](https://github.com/csosto-pk/pq-mlkem-ikev2/issues/5#issuecomment-2896485221), after ```IKE_AUTH```, basically you have authenticated your peer (that has the identify you think because they signed the signed octets defined in RFC7296). But you also know that anyone in the middle with a quantum computer could have downgraded or guessed you classical keys, so basically at this point all ```{SK_d | SK_ai | SK_ar | SK_ei | SK_er | SK_pi | SK_pr}``` could be known to an active adversary. But by not exchanging any encrypted data until there is a subsequent ```IKE_FOLLOWUP_KE``` we basically do not compromise any data. We enforce an ML-KEM negotiation if the config defines it for the peer which means that now ```{SK_d | SK_ai | SK_ar | SK_ei | SK_er | SK_pi | SK_pr}``` become secure for the established Child SAs.  To be fully PQ, we would certainly need to make IKE_AUTH use PQ signature, but that is a must anyway. Am I missing something? 

There is a shortcoming to this approach which is already supported and laid out in RFC9370 is that a PQ attacker can get the identities of the peers and the traffic selectors, but it does not compromise the data. It is worse that the actual IKEv2 wanted, but it is not detrimental. Otherwise, the peers ought to say "I want PQ, or I am out". Note that such downgrades need for the MiTM to be able to blackhole traffic too, which is not trivial.

Otherwise, it is tough to address the bootstrapping problem of any new mechanism like the one you proposed and maintain backwards compatibility. In way it is the same in TLS 1.2 since adding a new option which does not break legacy makes this new option downgradable too. 

I think we need a deep discussion the WG about the approach. I would like one that solves the problem but does not change the protocol. And then change the protocol to MAC both directions. 

Just so I understand: what's your objection to changing the protocol? The fact that we're at draft-00 makes me think there's plenty of time to make changes.

I am fine changing the protocol and making it resilient against those like TLS 1.3 did. But I prefer to do it in an RFC that is built for that. It is a tough problem to solve and allow for backwards compatibility because of the bootstrapping problem as you described. So, I don't want to introduce elegant changes in the ML-DSA draft because they will be lost in translation.

I do want to call it out of course, and thank you for bringing it up. And I want to sketch a [solution like the above](https://github.com/csosto-pk/pq-mlkem-ikev2/issues/5#issuecomment-2896485221) that protects from it by using existing messages and some extra configuration on the endpoint although it may not be perfect. 

I will keep an eye on your next presentation. And I will also bring up the sketched imperfect solution that does not require a brand new mechanism. If the WG decides that this definitely needs to be addressed, then so be it, we will work on it. 

> I am fine changing the protocol and making it resilient against those like TLS 1.3 did. But I prefer to do it in an RFC that is built for that. It is a tough problem to solve and allow for backwards compatibility because of the bootstrapping problem as you described. So, I don't want to introduce elegant changes in the ML-DSA draft because they will be lost in translation.

Yup, that totally makes sense to me. The problem of downgrade resilience is more general than this draft.

> I do want to call it out of course, and thank you for bringing it up. And I want to sketch a [solution like the above](https://github.com/csosto-pk/pq-mlkem-ikev2/issues/5#issuecomment-2896485221) that protects from it by using existing messages and some extra configuration on the endpoint although it may not be perfect.

I'm kind of new to IPSec and don't grasp some of the details of this solution. Is the goal basically to disable support for DH-only key-exchange (i.e., require ML-KEM) for peers that are known to support ML-KEM? Does this solution do something else as well?

> I'm kind of new to IPSec and don't grasp some of the details of this solution. Is the goal basically to disable support for DH-only key-exchange (i.e., require ML-KEM) for peers that are known to support ML-KEM? Does this solution do something else as well?

Yes, exactly. That requires to know the identities, so we would do it after IKE_AUTH, and until then we would make sure no auth data is passed through over a Child SA. 

Now, Valery made a good point offline. In these deployments, usually the initiator is configured to talk to the responder, so the initiator knows if the responder is PQC-ready. So, we could even avoid the extra configuration burden on the responder, and simplify the temporary solution and require the initiator to only support ML-KEM hybrids with the PQC-ready responder if it wants to prevent such downgrades.

So, I am now leaning towards 
- writing a large paragraph in the Sec Considerations section that basically lays out 
   - the downgrade concern and that it requires for an in-the-middle adversary to be able to completely control the flow and filter messages. 
   - the option of making the initiator and responder not negotiate a Child SA until there is a ```FOLLOWUP_KE``` with ML-KEM for peer identities that that the configuration says ought to use ML-KEM. This has the disadvantage that both the initiator and responder need to know all their PQC-ready peers and that the IKEv2 negotiation (peer identities, traffic selectors etc) could be known to a CRQC adversary, so it is not ideal. 
    - the option of making the initiator be aware of PQC-ready responders and thus only use ML-KEM hybrids with it, or fail. This is the simplest solution until we have the final one. 
- I think Valery's sketched option in https://mailarchive.ietf.org/arch/msg/ipsec/v92uXkEBCZEchZ6jdo6vICpDvbA/ and https://mailarchive.ietf.org/arch/msg/ipsec/jPtrLULBsl1xLPyhtTpjFo4mW_g/ which hashes the initiator's ```IKE_SA_INIT``` in the responder's ```IKE_SA_INIT``` in a new notification will work elegantly and not break existing deployments. So, I will monitor the outcome of these discussions and the WG's decision in the next IPSECME meeting and references it in my ML-KEM draft. 

Again, thank you for bringing this up. 

> > I'm kind of new to IPSec and don't grasp some of the details of this solution. Is the goal basically to disable support for DH-only key-exchange (i.e., require ML-KEM) for peers that are known to support ML-KEM? Does this solution do something else as well?
> 
> Yes, exactly. That requires to know the identities, so we would do it after IKE_AUTH, and until then we would make sure no auth data is passed through over a Child SA.
> 
> Now, Valery made a good point offline. In these deployments, usually the initiator is configured to talk to the responder, so the initiator knows if the responder is PQC-ready. So, we could even avoid the extra configuration burden on the responder, and simplify the temporary solution and require the initiator to only support ML-KEM hybrids with the PQC-ready responder if it wants to prevent such downgrades.

This makes sense to me, and is perhaps the best we can do if don't or can't solve the fundamental problem.

My main concern is that this might not be a realistic option for some deployments. If I have some out-of-band information about my peer, then I can use that information to restrict my configuration so that it's more secure. Is this is always an option for IPSec? How likely are there to be situations where this is not an option?

For what it's worth, it's usually not an option for TLS. Typically you have to support a large range of configurations, some of which are insecure; but as of TLS 1.3, we at least have confidence that the client and server can't be downgraded to the lowest common denominator.

> So, I am now leaning towards
> 
>     * writing a large paragraph in the Sec Considerations section that basically lays out
>       
>       * the downgrade concern and that it requires for an in-the-middle adversary to be able to completely control the flow and filter messages.
>       * the option of making the initiator and responder not negotiate a Child SA until there is a `FOLLOWUP_KE` with ML-KEM for peer identities that that the configuration says ought to use ML-KEM. This has the disadvantage that both the initiator and responder need to know all their PQC-ready peers and that the IKEv2 negotiation (peer identities, traffic selectors etc) could be known to a CRQC adversary, so it is not ideal.

I'm not sure this makes sense, but I suspect I'm missing some important bit of information. The attack prevents the client  from learning whether the responder supports ML-KEM at all, so why would it think a follow-up key exchange with ML-KEM would be successful?

I also worry about what happens if the follow-up key exchange is not authenticated. If there is no authentication, then can't it just do a plain MITM attack?

I think it makes the most sense is to only allow IKE_INIT_SA proposals that require an intermediate key exchange that uses ML-KEM. This would ensure the ML-KEM key exchange is authenticated.

>     * I think Valery's sketched option in https://mailarchive.ietf.org/arch/msg/ipsec/v92uXkEBCZEchZ6jdo6vICpDvbA/ and https://mailarchive.ietf.org/arch/msg/ipsec/jPtrLULBsl1xLPyhtTpjFo4mW_g/ which hashes the initiator's `IKE_SA_INIT` in the responder's `IKE_SA_INIT` in a new notification will work elegantly and not break existing deployments. So, I will monitor the outcome of these discussions and the WG's decision in the next IPSECME meeting and references it in my ML-KEM draft.

As I mentioned on the list, this doesn't feel like a complete solution to me. I believe you would want both parties to authenticate the entire handshake? 

In any case, better to wait to "hash this out" (hah) until the WG has decided it wants to solve downgrade resilience.


> Again, thank you for bringing this up.

You're welcome, and thanks for being open to addressing this!



Updated the Sec Considerations section 

> IKEv2 is susceptible to downgrades where a man-in-the-middle could force an initiator and responder to perform a key exchange using algorithms of the attacker's choice although both parties support other algorithms as well [DOWN-RES] [PQIKEV2-FA].  The reason for this issue is that IKEv2 does not authenticate messages exchanged by both parties.  Instead, it authentication messages in one direction. A long-term solution for this issue in IKEv2 is proposed in [I-D.smyslov-ipsecme-ikev2-downgrade-prevention].  In the context of this specification, an adversary could force the two parties to use classical key exchange although they both support quantum-resistant ML-KEM and would prefer it if they were aware that their peer supports it.  IKE_INTERMEDIATE messages do not introduce a new downgrade risk which did not exist previously.  Note that this risk would require the adversary to be able control the whole flow between the paries and sinkhole, delay or drop legitimate messages as necessary.
> 
> For post-quantum deployments where the responder is upgraded to support ML-KEM before any initiator, the initiator could enforce a hard requirement for using ML-KEM in the IKE_SA_INIT or the IKE_INTERMEDIATE before encrypting any data in any Child SA or fail the negotiation.  This is the most straightforward protection against downgrades in cases where the responder is upgraded before any initiator.  Otherwise, [RFC9370] supports Childless IKE SAs which can be followed by a Child SA after a FOLLOWUP_KE exhange with ML-KEM. Establishing a Childless IKE SA or a Child SA which does not encrypt any data and establishing a Child SA or rekeying the existing one with a FOLLOWUP_KE exhange with ML-KEM ensures that the initiator or responder can enforce a policy which requires ML-KEM for peers expected to support ML-KEM after learning their identity in IKE_AUTH. Although this approach would prevent downgrades where an adversary can force peers that support ML-KEM to use classical key exchanges, it assumes the initiator or responder know the identities of their peers that support ML-KEM.  It also has the disadvantage that an adversary with a quantum computer that can decrypt the initial IKE SA has access to all the information exchanged over it, such as identities of the peers, configuration parameters, and all negotiated SA information (including traffic selectors), with the exception of the cryptographic keys used by the IPsec SAs which are established after the ML-KEM key exchange.

>  IKE_INTERMEDIATE messages do not introduce a new downgrade risk which did not exist previously. Note that this risk would require the adversary to be able control the whole flow between the paries and sinkhole, delay or drop legitimate messages as necessary.

This feels irrelevant. The messages relevant to the attack are those in which parameters are negotiated.

>  Otherwise, [RFC9370] supports Childless IKE SAs which can be followed by a Child SA after a FOLLOWUP_KE exhange with ML-KEM. Establishing a Childless IKE SA or a Child SA which does not encrypt any data and establishing a Child SA or rekeying the existing one with a FOLLOWUP_KE exhange with ML-KEM ensures that the initiator or responder can enforce a policy which requires ML-KEM for peers expected to support ML-KEM after learning their identity in IKE_AUTH. Although this approach would prevent downgrades where an adversary can force peers that support ML-KEM to use classical key exchanges, it assumes the initiator or responder know the identities of their peers that support ML-KEM. It also has the disadvantage that an adversary with a quantum computer that can decrypt the initial IKE SA has access to all the information exchanged over it, such as identities of the peers, configuration parameters, and all negotiated SA information (including traffic selectors), with the exception of the cryptographic keys used by the IPsec SAs which are established after the ML-KEM key exchange.

I'm having trouble following this, but this mostly stems from my lack of experience with IPsec :)

If the attacker can decrypt the IKE_AUTH messages then it can force a downgrade. In particular, if the use of FOLLOWUP_KE is negotiated during the IKE_AUTH exchange, then the attacker can prevent it from being used.

I would suggest we try to give the simplest recommendation possible. Perhaps something like this:

> If the initiator knows out-of-band that the responder with the indicated identity supports ML-KEM, then it SHOULD only offer key exchanges that include ML-KEM. Likewise, if the responder knows out-of-band that the initiator with the indicated identity supports ML-KEM, then it SHOULD only select key exchanges that include ML-KEM and otherwise abort the connection.

I imagine it would take a bit of work to translate this into IPsec lingo, but hopefully the basic idea is clear.

Hi Chris, 

If an adversary can decrypt the IKE_AUTH messages it can see the exchanged identity, traffic selectors (what gets encrypted in the tunnel), but it cannot beat authentication. Assuming IKE_AUTH is ML-DSA for example, the peers still sign a transcript with their ML-DSA private key. The transcript includes the SPI value from both sides. So, IKE_AUTH still authenticates the peer. Some decrypting the IKE_AUTH messages sees the identities, but cannot impersonate. 

I will consider adding the extra sentence about the responder. The issue is that the peer cannot know the identity until after the IKE_AUTH, messages. That means that we should do the ML-KEM exchange after the IKE_AUTH in order to enforce an algorithm policy. 

TODO: 
- [x] Mention the Security Considerations text some text from https://www.rfc-editor.org/rfc/rfc7296.html
> (A man-in-the-middle attacker who cannot complete the IKE_AUTH exchange can nonetheless see the identity of the initiator.)
- [x] Also mention that such an attack, on top of being able to completely control the flow and block messages, the MiTM would also need to break (EC)DH IKE_INIT on the fly with a CRQC is while the negotiation happening to achieve the downgrade. It cannot go back in time and decrypt to achieve the downgrade because the (EC)DH IKE_INITs are ephemeral. 
- [x] Consider updating the text in the Sec Consideration that says the initiator or the responder "SHOULD" enforce ML-KEM for an identity if they know that identity was upgraded. 
- [x] Consider alternate text from Chris P.  
> IKE v2 is susceptible to downgrade attacks [IKEv2-DOWNGRADE] in which the peers are forced to negotiate the weakest key exchange method supported by both. In particular, if both peers support some sequence of key exchanges that involve only classical algorithms, an active, on-path attacker with a CRQC may be able to convince the peers to use it even if they both support ML-KEM.
> 
> The simplest way to mitigate these attacks is to disable support for classical-only sequences of key exchanges whenever possible. If the responder knows out-of-band that the initiator supports ML-KEM, then it SHOULD reject any proposal that doesn't include an ML-KEM key exchange. Likewise, if the initiator knows out-of-band that the responder supports ML-KEM, it SHOULD abort the protocol if the responder selects a proposal that doesn't include ML-KEM

The first draft text that addresses all the above TODOs is in https://github.com/csosto-pk/pq-mlkem-ikev2/commit/b49db41ab5fab5fe898440c6c860aa581c1dfd15. It currently reads 

> IKEv2 is susceptible to downgrade attacks where a active man-in-the- middle could force the peers to negotiate the weakest key exchange method supported by both.  In particular, if both peers support some sequence of key exchanges that involve only classical algorithms, an active, on-path attacker with a CRQC may be able to convince the peers to use it even if they both support ML-KEM as well.  Note that to achieve such a downgrade, the adversary needs to be able to completely control the flow and delay or drop legitimate IKEv2 messages and break classical (EC)DH IKE_SA_INIT ephemeral exchanges while the negotiation is still taking place.  This is a known issue for IKEv2 exchanges [DOWN-RES] caused by the way IKEv2 authenticates messages only in one direction of the exchange; [PQIKEV2-FA] concluded that IKE_INTERMEDIATE [RFC9370] does not introduce any additional attacks with respect to IKEv2's proposed security model.
> 
> The simplest way to prevent such active attacks is to disable support for classical-only sequences of key exchanges whenever possible.  If the responder knows out-of-band that initiators support ML-KEM, then it SHOULD reject any proposal that doesn't include ML-KEM in the IKE_SA_INIT or IKE_INTERMEDIATE.  Likewise, if the initiator knows out-of-band that a responder supports ML-KEM, it SHOULD abort the negotiation if the responder selects a proposal that doesn't include ML-KEM.  A long-term solution for the downgrade issue in IKEv2 is proposed in [I-D.smyslov-ipsecme-ikev2-downgrade-prevention].
> 
> As an alternative, [RFC9370] supports Childless IKE SAs which can be followed by a new Child SA after more key exchanges.  To ensure that data is encrypted over a quantum-resistant IPsec Child SA, the peers could enforce a policy which first establishes a Childless IKE SA [RFC6023] (or a Child SA which does not encrypt any data) with a classical key exchange without an IKE_INTERMEDIATE exchange. Subsequently the peers can rekey the initial IKE SA and derive a new Child SA (or rekey the existing one that did not encrypt any data) with additional key exchanges using a CREATE_CHILD_SA exchange followed by IKE_FOLLOWUP_KE messages that negotiate (and stir in the SKEYSEED and/or KEYMAT) an ML-KEM shared secret.  Section 2.2.5.1 of [RFC9370] discusses the details of such scenarios.  This approach could be enforced only for certain, known out-of-band, peer identities that support ML-KEM which are known to the initiator or responder during the CREATE_CHILD_SA exchange that follows IKE_AUTH. This approach has the disadvantage that an adversary with a CRQC that could decrypt the IKE_SA_INIT has access to all the information exchanged over the initial IKE SA or Child SA before the rekey.  This information includes the identities of the peers, configuration parameters, and all negotiated SA information (including traffic selectors), but not the information and data encrypted after the CREATE_CHILD_SA (and IKE_FOLLOWUP_KE.)
> 

I will polish it off more and submit v02 tomorrow. 

-[02 version uploaded](https://datatracker.ietf.org/doc/html/draft-ietf-ipsecme-ikev2-mlkem-02). 
It includes the updated text regarding downgrades. 
Closing this issue. We can polish off the text in the IPSECME alias. 