Normative language regarding ephemeral key exchanges

From Rebecca G. 

> One small question- in Section 3, the draft reads, "As with (EC)DH keys today, generating an ephemeral key exchange keypair for ECDH and ML-KEM is still REQUIRED per connection by this specification (IND-CPA security)."
> 
> However, my understanding of RFC7296 (Section 2.12) is that it doesn't actually prohibit the re-use of ephemeral keys." Is there guidance other than 7296 that explicitly prohibits ephemeral key re-use?
> 
> Or is it better to rephrase to something like: "Generating an ephemeral key exchange keypair for ECDH and ML-KEM is REQUIRED per connection by this specification, as is common practice for (EC)DH keys today."

Indeed, I could not find any IKEv2 drafts with normative language regarding ephemeral keys. And indeed section 2.12 of RFC7296 allows for reuse. I think we have since moved to a world where ephemeral is cheap and PFS is required.

I am leaning towards taking your suggested text, using "RECOMMENDED" instead of "REQUIRED" and referencing Section 2.12 of RFC7296

> Generating an ephemeral key exchange keypair for ECDH and ML-KEM is RECOMMENDED per connection by this specification, as is common practice for (EC)DH keys at the time of this writing. Section 2.12 of RFC7296 discusses the implication of re-using keys and why ephemeral one-time key exchanges are a secure choice.

Other WGs have had long discussions about normative language on this topic and I think pointing it out and "RECOMMEND"ing it is the important thing. The actual normative language, I don't have strong feelings about.


Paul W. was a proponent of the "REQUIRED"

> Doesn't FIPS already require it? I understand TLS servers might want to allow re-use, but IKEv2 has its own anti-ddos build-in and doesn't get as many connections to it as a TLS server does. I'd much rather nudge people to REQUIRED.
> 
> I'd like to keep PFS out of this discussion though. I am not sure the world is moving towards more PFS for IPsec, as it makes hardware offloading more complicated and it is generally accepted that the inner protocols already handle retransmits (eg TCP or applications already needing to handle UDP retransmits in their protocol)

Maybe we should keep the "REQUIRED" unless the WG objects 

>> Generating an ephemeral key exchange keypair for ECDH and ML-KEM is REQUIRED per connection by this specification, as is common practice for (EC)DH keys at the time of this writing. Section 2.12 of RFC7296 discusses the implication of re-using keys and why ephemeral one-time key exchanges are a secure choice.


Addressed in 39f50f755163e493a5dd0fd465e1af8d55aa92b9. The new text says 
> Generating an ephemeral key exchange keypair for ECDH and ML-KEM is REQUIRED per connection by this specification, as is common practice for (EC)DH keys today.
as suggested by Rebecca G.  

Closing this issue.