Nit about IKE_FOLLOWUP_KE

The draft says 

> [[RFC9242](https://www.rfc-editor.org/rfc/rfc9242)] defined how to do additional large message exchanges by using new IKE_INTERMEDIATE or IKE_FOLLOWUP_KE messages which can be fragmented at the IKEv2 layer before causing IP fragmentation [[RFC7383](https://www.rfc-editor.org/rfc/rfc7383)]. Because [[RFC9242](https://www.rfc-editor.org/rfc/rfc9242)] messages can only be used after IKE_SA_INIT, if a PQ KEM does not fit inside IKE_SA_INIT without causing IP fragmentation, then it should be used after IKE_SA_INIT as an additional key establishment algorithm. The Multiple Key Exchanges in IKEv2 specification [[RFC9370](https://www.rfc-editor.org/rfc/rfc9370)] defined how to do up to seven additional key exchanges by using IKE_INTERMEDIATE or IKE_FOLLOWUP_KE messages and by deriving new SKEYSEED and KEYMAT key materials.

But ```IKE_FOLLOWUP_KE``` was only specified in [[RFC9370](https://www.rfc-editor.org/rfc/rfc9370)]. So we need to rephrase to 

> [[RFC9242](https://www.rfc-editor.org/rfc/rfc9242)] defined how to do additional large message exchanges by using new IKE_INTERMEDIATE ~~or IKE_FOLLOWUP_KE~~ messages. IKE_INTERMEDIATE  messages can only be used after IKE_SA_INIT. The Multiple Key Exchanges in IKEv2 specification [[RFC9370](https://www.rfc-editor.org/rfc/rfc9370)] defined how to do up to seven additional key exchanges by using IKE_INTERMEDIATE or IKE_FOLLOWUP_KE messages and by deriving new SKEYSEED and KEYMAT key materials. These messages can be fragmented at the IKEv2 layer before causing IP fragmentation [[RFC7383](https://www.rfc-editor.org/rfc/rfc7383)]. If a PQ KEM does not fit inside IKE_SA_INIT without causing IP fragmentation, then it should be used after IKE_SA_INIT in an IKE_INTERMEDIATE or IKE_FOLLOWUP_KE message as an additional key establishment algorithm. 


Addressed in 67a9b2a0f27db9ae3058e452bea0b6bc73d89ba9. Closing this one.